.userList{
    flex: 6;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 0px;
    background-color: white;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #228ad5;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: rgb(240, 50, 50);
    cursor: pointer;
}

.user {
    flex: 6;
    padding: 20px;
}

.userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
    background-color: rgb(7, 193, 103);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer {
    display: flex;
    margin-top: 20px;
}
  
.userShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color: white;
}

.userUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
    background-color: white;
}

.userShowTop {
    display: flex;
    align-items: center;
}

.userShowTopTitle {
    display: flex;
    flex-direction: column;
}

.userShowUsername {
    font-weight: 600;
}
  
.userShowUserTitle {
    font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}
  
.userShowInfo{
      display: flex;
      align-items: center;
      margin: 20px 0px;
      color: #444;
}
  
.userShowIcon{
      font-size: 16px !important;
}
  
.userShowInfoTitle{
      margin-left: 10px;
}

.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.userUpdateForm{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    background-color:white;
    border-bottom: 1px solid gray;
}

.userUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    justify-content: end;
}

.createUser {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 0px;
  background-color: white;
  flex: 6;
}

.createUserForm {
  display: flex;
  flex-wrap: wrap;
}

.createUserItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.createUserItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.createUserItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.createUserItem > select {
    height: 20px;
    width: 60px;
    border-radius: 5px;
}
  
.createUserGender > input {
  margin-top: 15px;
}

.createUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.createUserSelect{
    height: 40px;
    border-radius: 5px;
}

.createUserButton{
    width: 400px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}